@import "../abstracts/variables";
@import "../base/typography";

.app-error {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 48rem;
  margin: 0 auto;
  padding: $space-3 $space-5;
  border-radius: 0.4rem;
  border: 0.1rem solid $red;
}

.app-error__message {
  @extend .text-error;
  @extend .text-center;
}

.app-error__button {
  align-self: center;
  padding: $space-3 $space-4;
  margin: $space-5 0 $space-3;
  border-radius: 0.4rem;
  color: $gray-600;
  cursor: pointer;
  transition: background-color .3s, color .3s;

  &:hover {
    background-color: $gray-600;
    color: $gray-900;
    font-weight: $font-weight-bold;
  }
}
