@import "../abstracts/variables";
@import "../base/animations";
@import "../base/typography";

.film {
  width: 100%;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-duration: $animation-duration * 3;
  overflow: scroll;
}

.film__table {
  border-collapse: separate;

  .total-height {
    text-align: center;
    @media screen and (min-width: $sm-screen) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.film__filter {
  width: 100%;
  margin: $space-5 0;
  padding: $space-3 $space-5;
}

.film__filter__title {
  margin-right: $space-3;
}

.film__filter--gender {
  display: flex;
  align-items: center;
  justify-content: center;
  .gender__option {
    display: inline-flex;
    align-items: center;
    padding: $space-2;
    margin-right: $space-5;
    @extend .text-sm;

    &:last-child {
      margin-right: 0;
    }
  }
}

.gender__option input[type="radio"] {
  appearance: none;
  outline: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background-color: transparent;
  border: 0.1rem solid $gray-500;
  margin: 0 $space-3 0 0;
  line-height: $line-height-base;
  cursor: pointer;
  transition: background-color .3s, border-color .3s;
  &:checked {
    background-color: $yellow;
    border-color: $yellow;

    + label {
      color: $yellow;
    }
  }
}

.gender__option label {
  @extend .capitalise;
}
