@mixin make-transitions($base, $names) {
  @each $name in $names {
    .#{$base}#{$name}-move {
      transition: all $animation-duration;
    }

    .#{$base}#{$name}-enter-active, .#{$base}#{$name}-leave-active {
      animation-duration: $animation-duration;
      animation-fill-mode: both;
    }

    .#{$base}#{$name}-enter-active {
      animation-name: #{$base}In#{$name};
    }
    .#{$base}#{$name}-leave-active {
      animation-name: #{$base}Out#{$name};
    }
  }
}
