@import "../abstracts/variables";

.app__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 80vh 10vh;
  height: 100vh;
  background-color: $black;
  color: $gray-600;
}

.app__content {
  padding: #{$space-3 * 4} $space-5;
}
