@import "../abstracts/variables";

.app__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 1fr 120px;
  min-height: 100vh;
  width: 100%;
  padding: 0 0 $space-5;
  background-color: $black;
  color: $gray-600;
}

.app__content {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: $space-1 #{$space-5} #{$space-3 * 4};

  @media screen and (min-width: $sm-screen) {
    max-width: 80rem;
    padding-left: #{$space-5 * 4};
    padding-right: #{$space-5 * 4};
  }
}
