.home {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(2rem, 12rem);
  grid-auto-rows: 1fr;
  justify-items: center;
  overflow: scroll;
}

.brand__image {
  height: 24rem;
  width: 100%;
  max-width: 40rem;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
