/* Base Styles
  NOTE: html is set to 62.5% so that all the REM measurements 
  are based on 10px sizing. So basically 1.5rem = 15px :) 
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  font-family: $font-family-base;
  line-height: $line-height-base;
  color: $body-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
