@import "../abstracts/mixins/make-transitions";

$animations: (
  fade: '',
  flip: X,
  pulse: '',
  slide: Up
);

@each $key, $values in $animations {
  @include make-transitions($key, $values);
}

/* Animation */
.animated {
  animation-duration: $animation-duration;
  animation-fill-mode: both;
  
  // Timing classes
  &.infinite {
    animation-iteration-count: infinite;
  }

  &.linear {
    animation-timing-function: linear;
  }

  // Duration classes
  &.slow {
    animation-duration: $animation-duration * 2;
  }
}
