$black: #000000;
$yellow: yellow;

// Spacing
$spacer: 0.8rem !default;
$spacers: () !default;
$spacers: map-merge((
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3),
), $spacers);

$space-1: map-get($spacers, 1);
$space-2: map-get($spacers, 2);
$space-3: map-get($spacers, 3);
$space-4: map-get($spacers, 4);
$space-5: map-get($spacers, 5);

// fonts
$font-family-base:  'Lato', sans-serif;
$font-family-heading: 'Montserrat', sans-serif;

$font-weight-light:         300 !default;
$font-weight-normal:        400 !default;
$font-weight-bold:          600 !default;
$font-weight-extra-bold:    800 !default;
$font-weight-base:          $font-weight-normal !default;

$font-size-base:     1.6rem !default;
$line-height-base:   1.5 !default;

$h1-font-size:   $font-size-base * 2.5 !default;
$h2-font-size:   $font-size-base * 2 !default;
$h3-font-size:   $font-size-base * 1.75 !default;
$h4-font-size:   $font-size-base * 1.5 !default;
$h5-font-size:   $font-size-base * 1.25 !default;
$h6-font-size:   $font-size-base !default;

// text colors
$body-color: $black;
$heading-color: $black;
